
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargarDatos</title>
</head>
<body>
    <div> 
		<table>
			<td>
			<tr> Tabla de Datos</tr>
			</td>
			<td>
			<tr>Nombre:</tr></td>
			<td>
			<tr>Descripcion:</tr></td>
		</table>
    </div>
</body>
</html>
