
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormularioVisita</title>
</head>
<body>
    <div> 
		<form action="/Home/CargarDatos" method="post">
			<p>Nombre: <input type="text" name="nombre" value="" /></p>
			<p>
				Comentarios<br>
				<textarea rows="10" cols="120" name="comentarios"></textarea>
			</p>
			<p><input type="submit" name="" value="Confirmar" /></p>
		</form>
    </div>
</body>
</html>
